.special-product-card {
  padding: 10px;
  padding-bottom: 12px;
  border-radius: 10px;
  background-color: #fff;
}

.special-product-card .product-quantity .progress {
  margin-top: 5px;
  height: 8px;
}

.special-product-card .product-quantity .progress-bar {
  background-color: green;
}

.special-product-card .button {
  padding: 8px 18px;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.special-product-content .brand {
  color: var(--color-text-1);
  margin-bottom: 12px;
  line-height: 24px;
}


.special-product-content .title {
  font-size: 15px;
  color: var(--color-text-2);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 14px;
  word-break: break-word;
}

.special-product-content .rating {
  margin-bottom: 12px;
}
